<br><br><br><br>
<p id="notice"><%= notice %></p>
<header>
        <div class="container">
            <div class="intro-text">
                <a href="#recomendados" class="page-scroll btn btn-info"><font face="URW Gothic L,DEMI",size="5">Pra onde?</font></a>
                <a class="page-scroll btn btn-info" href="/ideas/new" ><font face="URW Gothic L,DEMI",size="5">Recomende um lugar</font></a><br><br>
                <a href="#sobre" class="page-scroll btn btn-info"><font face="URW Gothic L,DEMI",size="5">Sobre o site</font></a>
                <a href="#team" class="page-scroll btn btn-info"><font face="URW Gothic L,DEMI",size="5">Quem somos?</font></a>
                <% if (user_signed_in? ) %>
                <a href="#chat" class="page-scroll btn btn-info"><font face="URW Gothic L,DEMI",size="5">Chat</font></a>           
                <% else %>
                <% end %>
            </div>
        </div>
    </header>
<br><br><br><br><br><br><br><br><br>
<section id="recomendados" class="bg-light-gray">
<table>
<div class="col-lg-12 text-center">
<br><br><br><br>
<font size="7", face="URW Gothic L,DEMI">Lugares recomendados</font><br></br><br></br><br></br>
<div class="timeline-panel">
</div>
 
  <tbody>


    <% @ideas.each do |idea| %>
<center>
    <br><br><br>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <a 
                    href="http://localhost:3000/ideas/"idea.id"">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                
                            </div>
                        </div>
                        <%= image_tag idea.picture_url, :width => 300 if idea.picture? %>
                    </a>
                    <div class="portfolio-caption">
                        <br><font size="5", face="URW Gothic L,DEMI"><%= idea.name %></font>
                    </div>
            <% if (user_signed_in? && current_user.username == "admin") %>
             
            <%= link_to 'Ver', idea %> |
            <%= link_to 'Deletar', idea, method: :delete, data: { confirm: '⚠ Você tem certeza?' } %>
           
        <% else %>
         <%= link_to 'Ver', idea %>
        <% end %>      
                </div>
            </div>
        </div>    
</center>
    <% end %>
  </tbody>
</table>

</section>
<section id="sobre" class="bg-light-gray">
    <br><br><br>
<center><font size="6">Sobre o site</font></center><br>
<font size="4">Partiu é uma iniciativa de viajantes que partilham um interesse em comum, o desejo de viajar e conhecer o mundo. Podendo assim, comentar locais apresentados por outros usuários e recomendar lugares compartilhando fotos de momentos inesquecíveis, assim como a experiência vivida!</font><br></br>  
<font size="6">Missão</font>
<font size="4">Expandir sua rede de contato com pessoas que compartilham interesses mútuos.
<br>A vontade de conhecer o mundo, de conhecer o desconhecido e de conhecer quem ainda não conhece.</font><br></br>
<font size="6">Visão</font> 
<font size="4"> Ser a maior rede social voltada para os viajantes em território Nacional.<br>
Ser reconhecido pela qualidade de serviços, opções e atualizações baseadas nos feedbacks dos usuários.</font><br></br>
<font size="6">Valores</font>
<font size="4">Wanderlust</font>

</section>
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <br><br><br>
                    <class="section-heading"><font size="7",face="URW Gothic L,DEMI">Our Amazing Team</font><br></br>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="assets/team/1.jpg"width="225" height="225" class="img-responsive img-circle" alt="">
                        <h4>Babu</h4>
                        <p class="text-muted">Cat</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="https://www.facebook.com/bob.o.cachorro"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="assets/team/2.jpg"width="225" height="225"  class="img-responsive img-circle" alt="">
                        <h4>Lucas da Costa</h4>
                        <p class="text-muted">Cyclist</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#team"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="http://facebook.com/lroriz"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#team"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="assets/team/3.jpg"width="225" height="225" class="img-responsive img-circle" alt="">
                        <h4>Naiara Andrade</h4>
                        <p class="text-muted">Traveller</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="https://www.facebook.com/naiaraac"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                
            </div>
        </div>
    </section>


<% if (user_signed_in? ) %>
<section id="chat" class="bg-light-gray">
<table align="center"><tr><td height="30" colspan="2">
<br><br><br>
</br></br></br>
<div align="center"><font size="6",face="URW Gothic L,DEMI">Chat</font><br></br></div>
</td>
</tr>
<form method="post" action="http://batepapo.zetboo.com/batepapo.html" target="_blank" />
<input type="hidden" name="titulo_room" value="Partiu viajar" />
<input type="hidden" name="room" value="Travellers" />
<input type="hidden" name="cor" value="#00CCCC" />
<input type="hidden" name="lg" value="pt-br" />

<tr>
<td align="right">
 Usuario : </td>
<td align="left"><input type="text" name="nome" size="20" /></td>
</tr><tr>
<td align="right">Estado : </td>
<td align="left"><input type="text" name="vila" size="20" /></td>
</tr><tr>
<td align="right">Idade : </td>
<td align="left"><input type="text" name="idade" size="4" /></td>
</tr><tr>
<td align="right">Sexo : </td>
<td align="left">
<input type=radio name="sexe" value="H" checked />Homem
<input type=radio name="sexe" value="M" checked />Mulher
</td>
</tr><tr>
<td colspan="2" align="center"><input TYPE="submit" value="conexão" name="criar" /></td>
</form>
</tr>
</table>
</section> 
<% else %>
<% end %>
