<p id="notice"><%= notice %></p>



<div class="col-lg-12 text-center">
<p>
  <strong></strong>
  <%= image_tag(@idea.picture_url, :width => 400) if @idea.picture.present? %>
  <strong><h6></h6><%= @idea.name %></strong>
</p>
</div>

<p>

  <strong><h6>Descrição</h6></strong>

  <pre><%= @idea.description %></pre>
</p>
<br>
</br>
<br>
</br>
<br>
</br>
<br>
</br>


  <h3>Comentários</h3>
 <% @idea.comments.each do |comment| %>





  <div>
    <strong><%= comment.user_name %></strong>
    <br />
    <p><%= comment.body %><p>
  </div>
<% end %>
<%= render 'comments/form' %>

<%= link_to 'Editar', edit_idea_path(@idea)  %> |
<%= link_to 'Voltar', ideas_path %>
