<p id="notice"><%= notice %></p>
<br><br><br><br><br><br>
<h1>Lista de comentários</h1>
<table>
  <thead>
    <tr>
      <th>Nome de usuário&nbsp&nbsp&nbsp</th>
      <th>Mensagem&nbsp&nbsp&nbsp</th>
      <th colspan="3"></th>
    </tr>
  </thead>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.user_name %></td>
        <td><pre><%= comment.body %></pre></td>
<% if (user_signed_in? && current_user.username == comment.user_name || current_user.username == "admin") %>
          <td>&nbsp&nbsp&nbsp&nbsp<%= link_to 'Ver', comment %>&nbsp</td>
          <td> | <%= link_to 'Editar', edit_comment_path(comment) %> |</td>
          <td>&nbsp<%= link_to 'Deletar', comment, method: :delete, data: { confirm: 'Você tem certeza?' } %></td> 
        <% else %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>