<p id="notice"><%= notice %></p>

<p>
  <strong>Nome de usuário:</strong>
  <%= @comment.user_name %> 
</p>

<p>
  <strong>Mensagem:</strong>
  <pre><%= @comment.body %></pre>
</p>

<p>
  <strong>Lugar:</strong>
  <%= @comment.idea_id %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
