<br><br><br><br><br><br>
<p id="notice"><%= notice %></p>

<p>
  <strong>Nome de usuário:</strong>
  <%= @comment.user_name %> 
</p>

<p>
  <strong>Mensagem:</strong>
  <pre><%= @comment.body %></pre>
</p>

<p>
  <strong>Lugar:</strong>
  <%= @comment.idea_id %>
</p>

<%= link_to 'Editar', edit_comment_path(@comment) %> |
<a href="http://localhost:3000/ideas">Voltar</a> |
<a href="http://localhost:3000/comments">Todos os comentários</a>

